
                    <div class="text-center landing-main-footer py-3">
                        <span class="text-muted fs-15"> Copyright © <span id="year"></span> <a
                            href="javascript:void(0);" class="text-primary fw-semibold"><u>ynex</u></a>.
                            Designed with <span class="fa fa-heart text-danger"></span> by <a href="javascript:void(0);" class="text-primary fw-semibold"><u>
                            Spruko</u>
                            </a> All
                            rights
                            reserved
                        </span>
                    </div>