
            <aside class="app-sidebar sticky" id="sidebar">

                <div class="container-xl">
                    <!-- Start::main-sidebar -->
                    <div class="main-sidebar">

                        <!-- Start::nav -->
                        <nav class="main-menu-container nav nav-pills sub-open">
                            <div class="landing-logo-container">
                                <div class="horizontal-logo">
                                    <a asp-controller="Home" asp-action="Index" class="header-logo">
                            <span class="fw-bold text-white fs-5">Muhammad Ubaid</span>
                                    </a>
                                </div>
                            </div>
                            <div class="slide-left" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg></div>
                            <ul class="main-menu">
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a class="side-menu__item" asp-controller="Home" asp-action="Index">
                                        <span class="side-menu__label">Home</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a href="#about" class="side-menu__item">
                                        <span class="side-menu__label">About</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                               @*  <li class="slide has-sub">
                                    <a href="javascript:void(0);" class="side-menu__item">
                                        <span class="side-menu__label me-2">More</span>
                                        <i class="fe fe-chevron-right side-menu__angle op-8"></i>
                                    </a>
                                    <ul class="slide-menu child1">
                                        <li class="slide">
                                            <a href="#statistics" class="side-menu__item">Statistics</a>
                                        </li>
                                        <li class="slide">
                                            <a href="#our-mission" class="side-menu__item">Our Mission</a>
                                        </li>
                                        <li class="slide">
                                            <a href="#features" class="side-menu__item">Features</a>
                                        </li>
                                        <li class="slide">
                                            <a href="#testimonials" class="side-menu__item">Testimonials</a>
                                        </li>
                                        <li class="slide has-sub">
                                            <a href="javascript:void(0);" class="side-menu__item">Level-2
                                                <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                            <ul class="slide-menu child2">
                                                <li class="slide">
                                                    <a href="javascript:void(0);" class="side-menu__item">Level-2-1</a>
                                                </li>
                                                <li class="slide has-sub">
                                                    <a href="javascript:void(0);" class="side-menu__item">Level-2-2
                                                        <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                                    <ul class="slide-menu child3">
                                                        <li class="slide">
                                                            <a href="javascript:void(0);" class="side-menu__item">Level-2-2-1</a>
                                                        </li>
                                                        <li class="slide has-sub">
                                                            <a href="javascript:void(0);" class="side-menu__item">Level-2-2-2</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li> *@
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a href="#testimonials" class="side-menu__item">
                                        <span class="side-menu__label">Portfolio</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a href="#services" class="side-menu__item">
                                        <span class="side-menu__label">Services</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                               <!-- Start::slide -->
                                <li class="slide">
                                    <a asp-action="Resume" class="side-menu__item">
                                        <span class="side-menu__label">Resume</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                <li class="slide">
                                    <a href="#testimonials" class="side-menu__item">
                                        <span class="side-menu__label">Testimonials</span>
                                    </a>
                                </li>
                                <!-- End::slide -->
                                <!-- Start::slide -->
                                
                                <!-- End::slide -->

                            </ul>
                            <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                            <div class="d-lg-flex d-none">
                                <div class="btn-list d-lg-flex d-none mt-lg-2 mt-xl-0 mt-0">
                                    <a asp-controller="Authentication" asp-action="signup_basic" class="btn btn-wave btn-primary">
                                        Hire Me
                                    </a>
                                </div>
                            </div>
                        </nav>
                        <!-- End::nav -->

                    </div>
                    <!-- End::main-sidebar -->
                </div>

            </aside>